<div id="bg" class="flex flex-col items-center justify-center min-h-screen px-6">
    <p>Slike kart: <a href="https://code.google.com/archive/p/vector-playing-cards/" class="text-black-500 underline hover:text-gray-500">https://code.google.com/archive/p/vector-playing-cards/</a></p>
    <!--<img src="../../karte_default.png" id="banner" alt="logo?" class="w-1/3 md:w-1/5 lg:w-1/6 xl:w-1/8 h-auto mx-auto" />-->
    <a href="https://www.flaticon.com/free-icons/poker" title="poker icons" class="text-black-500 underline hover:text-gray-500">Poker icons created by DinosoftLabs - Flaticon</a>
</div>