@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/*#banner {
    max-width: 25%;
    height: auto;
    display: block;
}*/
html {
    scroll-behavior: smooth;
}

#bg {
    background-color: #87c28265;
    background-image: url("../public/asfalt-dark.png");
}

.inline-code {
    @apply font-mono text-sm bg-gray-400/50 text-black px-1.5 py-0.5 rounded-md overflow-x-auto;
}

.extra {
    @apply text-sm;
}

code {
    @apply font-mono text-sm bg-gray-400/50 text-black p-[3px] rounded-lg overflow-x-auto;
}
